body {
  margin: 50px 0;
}

header {
  margin-bottom: 50px;
}

.search-form-container {
  .btn-search {
    display: inline-block;
  }

  .dropdown-item-type {
    display: inline-block;
    width: 150px;
    margin: 10px 0;
  }
}
